@charset "UTF-8";

/* .container  {
  padding: 100px 0;
} */



/* 로그인, 마이페이지. 회원가입 색깔 */
a {
    text-decoration: none;
    /* 기본 밑줄을 제거합니다 */
    color: #f00a0a;
}

a:hover {
   /* 눌렀을때 색깔 변화 */
    color: #adbeeb;
    text-decoration: underline;
    /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
}

header.head-Area {
    margin: auto;
    /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    /* 하위 요소들 수직 가운데정렬 */
    position: relative;
    background: #f1f2f5;
    border-top: 1px solid #adbeeb;
}

fieldset {
    border: none;
    /* 기본 border 없애기(이 코드를 지우고 기본 border를 확인해보세요) */
}

.visually-hidden {
    /* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 않습니다. */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.links {
    /* 진행시켜 위치값 */
    position: absolute;
    top: 0;
    right: 23%;
}

/* 로그인 마이페이지 홈 글자/왼쪽정렬 */
.link_text {
    position: relative;
    font-size: 13px;
    margin-right: 5px;
}

.img_logo {
    margin-bottom: 12px;
    width: 220px;
    height: 100px;
}

/* nav */
/* 캠핑 글램핑 차박 박스 사이즈 */
header>nav {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
}

/* 캠핑 글램핑 차박 사이즈 */
.nav_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    /* font-weight: bold; */
    /* 각 테두리 */
    border-top: 1px solid #adbeeb;

}

/* 캠핑, 그램핑, 차박 왼쪽 마진값 */
.nav_items ul>li {
    display: inline-block;
    margin-left: 3px;
}

/* 캠핑 글램핑 차박 글자 색깔 */
.nav_items ul>li>a {
    color: #102c5c;
}
/*  캠핑 글램핑 차박 눌렀을때 색깔 */
.nav_items ul>li>a:hover {
   /* 눌렀을때 색깔 변화 */
    color: #d88923;
    text-decoration: underline;
    /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
}



.title {
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 40px;
}

.subTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.card {
  margin-right: 20px;
}
.imgArea  {
    /* border-radius: 5px 5px 0 0; */
    overflow: hidden;
}

.imgArea img{
    display: block;
    width: 100%;
}

.heartArea  {
    position: absolute;
    top: 0;
    right: 20px;
}
.heart {
    width: 80px;
    height: 80px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
      no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
  }

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }

.desc-Area {
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 1px solid #d9d9d9;
}
  

.topArea .row {
  align-items: center;
  justify-content: space-between;
}

/* .text-Area {
  border: 1px solid olive;
  border-radius: 10px;
} */

.desc-table {
  width: 100%;
  padding: 20px;
}

.desc-table tr{
  width: 100%;
  line-height: 2.4rem;
  font-weight: 200;
  border-bottom: 1px solid #d9d9d9;
}

.desc-table tr:last-child {
  border-bottom: 0;
  border-right: 0;  
  padding-bottom: 20px;
}

.desc-table tr input {
  border: 1px solid #d9d9d9;
  border-radius: 5px 0;
  width: 90%;
  height: 100%;
  padding: 20px;
}

.desc-table tr .td-l {
  text-align: center;
  padding-left: 40px;
  color: olive;
}

.desc-table tr .td-r::before {
  content: "";
  border-left: 2px solid #d9d9d9;
  display: inline-block;
  height: 14px;
  width: 20px;
}

.desc-table tr:last-child .td-r::before {
  border-left: 0;
}

.desc-table tr .td-r {
  text-align: left;
  padding-left: 20px;
}

.desc-table td {
  padding: 22px 0;
}

.desc-like {
  position: relative;
}

.desc-like > .heartArea {
  position: absolute;
  top: 6%;
  left: 22%;
}
/* //thumb-Area */

.tab-Area button.nav-link {
  border: 1px solid olive;
  color: olive;
  font-size: 1.2rem;
  font-weight: 900;
}

.tab-Area button.nav-link.active {
  /* display: block; */
  color: #fff;
  background-color: olive;
}
.rew-write-Area {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rew-write-Area textarea {
  resize: none;
  width: 90%;
  border: 1px solid olive;
  padding: 10px;
  height: 150px;
  overflow: auto;
  border-radius: 10px;
}
.rew-write-Area textarea::-webkit-scrollbar {
  width: 5px;
  margin-right: 10px;
}
.rew-write-Area textarea::-webkit-scrollbar-thumb {
  background-color: #66a335;
  padding-right: 10px;
}

.rew-write-Area .attach {
  position: absolute;
  right: 150px;
  bottom: 10px;
}

.rew-write-Area .attach img {
  width: 24px;
}

.rew-btn {
  width: 8%;
  border-radius: 10px;
  background-color: olive;
  font-weight: 600;
  color : #fff;
}

.rew-list .table-Area table {
  width: 100%;
}

.rew-list .table-Area table thead {
  /* border-top: 2px solid olive;
  border-bottom: 2px solid olive; */
  background-color: olive;
}

.rew-list .table-Area table thead td {
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
}

.rew-list .table-Area table td {
  text-align: center;
  padding: 20px 10px;
  border-right: 1px solid #d9d9d9;
}

.rew-list .table-Area table td.rew-list-desc {
  text-align: left;
  padding-left: 10px;
}

.rew-list .table-Area table td.rew-list-desc p {
  margin-bottom: 20px;
}

.rew-list .table-Area table td:last-child {
  border-right: 0;
}

.rew-list .table-Area table tr {
  border-bottom: 1px solid #d9d9d9;
}

.rew-list .table-Area table tr:last-child {
  border-bottom: 2px solid olive;
}

/* slider */
.swiper-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px #ccc inset;
  align-items: center;
}

.swiper-Area .swiper-wrapper {
  padding: 20px 0;
  width: 98%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.swiper-Area .swiper-slide {
  width: 33% !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin: 10px 0 ;
}

.swiper-Area .swiper-slide:first-child {
  margin-left: 0;
}

.swiper-Area .swiper-slide:last-child {
  margin-right: 0;
}

.swiper-Area .swiper-slide img {
    box-shadow: 0 0 3px #555;
    width: 100%;
}

.swiper-Area .swiper-text{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: olive;
  text-align: center;
  color: #fff;
}

.formArea {
	/* 	width: 40%; */
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title-txt {
	margin: 60px 0;
}

.title-txt h1 {
	font-weight: 900;
	text-transform: uppercase;
}

.mem-form input::placeholder {
	color: #999;
}

.btn-box {
	text-align: center;
	padding-top: 40px;
}

.btn-box .btn {
	width: 100%;
	margin: 10px 0;
}
