<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="detail">
	<select id="detailInfo" parameterType="detail.dto.DetailDTO" resultType="detail.dto.DetailDTO">
		select * FROM info
		WHERE info_seq = #{info_seq}
	</select>
	
	<insert id="save" parameterType="detail.dto.ReviewDTO" >
		INSERT INTO
		review
		VALUES(rev_seq.nextval, sysdate,
		#{review_content, jdbcType=VARCHAR}, #{memb_id, jdbcType=VARCHAR}
		)
	</insert>
	
	
<!--   	<select id="detailReview" resultType="detail.dto.ReviewDTO">
		<![CDATA[
			SELECT a.* FROM (
				SELECT *
				FROM review
				ORDER BY write_date DESC
			)a
			WHERE ROWNUM <= 5
		]]>
	</select> -->
	
 	<resultMap type="detail.dto.ReviewDTO" id="reviewList" autoMapping="true">
		<association property="membDTO" javaType="memb.dto.MembDTO">
			<result column="memb_id" property="memb_id"/>
		</association>
	</resultMap>   
	
 	 <select id="detailReview" parameterType="detail.dto.ReviewDTO" resultMap="reviewList">

<!-- 		  <![CDATA[
		    SELECT b.* 
		     FROM(SELECT rownum as rm, a.*
		          FROM (SELECT r.*, m.nickname 
		          FROM review r, memb m
		          WHERE r.memb_id=m.memb_id(+)               
		          ORDER BY r.write_date DESC)a)b
		     WHERE b.rm>=1 AND b.rm<=5
		  ]]> -->
		
		 <![CDATA[
			select s.*
			from( 
			    select rownum as rm, r.*,m.nickname
			    from review r, memb m
			    where m.memb_id=r.memb_id
			    order by r.write_date desc)s
			where s.rm<=5
		]]>

<!-- 		<![CDATA[
			select s.*
			from( 
			    select rownum as rm, r.*,m.nickname
				from review r left outer join memb m
				on r.memb_id=m.memb_id)s
			where s.rm>=1 and s.rm<=5
		]]> -->
		
	</select>
</mapper>