<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="favor">
	<!-- 뫄뫄 하기위한 resultMap===========뫄뫄가 뭔지 정확히 아시는 분 쓰기 -->
	<resultMap type="favor.dto.FavorDTO" id="favorlist" autoMapping="true">
		<association property="infoDTO" javaType="info.dto.InfoDTO" autoMapping="true">
			<result column="info_seq" property="info_seq" />
		</association>
	</resultMap>

	<!-- 찜 위꺼랑 차이뭐???????????????//-->
	<select id="favor" parameterType="favor.dto.FavorDTO" resultMap="favorlist">
		select f.favor_seq, i.*
		from favor f, info i
		where f.info_seq=
		i.info_seq
		and memb_id = #{memb_id, jdbcType = VARCHAR}
		order by f.favor_seq desc
	</select>


	<!-- 찜 추가 testtest-->
	<insert id="insertFavor" parameterType="favor.dto.FavorDTO">
		INSERT INTO
		favor(favor_seq, info_seq, memb_id, favor_why)
		select
		favor_seq_test.nextval,
		#{info_seq}, #{memb_id}, #{favor_why} from dual
		WHERE (SELECT
		count(*) from favor
		where
		info_seq = #{info_seq}) = 0
	</insert>

	<!-- 찜 취소 -->
	<!-- parameterType="favor.dto.FavorDTO" -->
	<delete id="deleteFavor" parameterType="int">
		DELETE FROM favor
		WHERE
		favor_seq = #{favor_seq}
	</delete>

</mapper>